@media (max-width: 450px) {
    #broadcard h3 {
        margin-top: 50px;
        font-size: 40px !important;
        margin-left: 30px;

    }

    .hero-left {
        height: 90vh;
    }

    .banner-right {
        height: 70vh;
    }

    .banner-right img {
        height: 100%;
        width: 100%;
    }

    .hero-left h2 {
        font-size: 60px !important;
    }

    #membership h3 {
        font-size: 40px !important;
    }

    .about-left h3 {
        font-size: 40px !important;
    }

    #trainer h3 {
        font-size: 40px !important;
    }

    #gallery h3 {
        font-size: 40px !important;
    }

}




@media (max-width: 350px) {
    .hero-left h2 {
        font-size: 45px !important;

    }

    .broadcard-right {
        margin-left: 20px;
    }

    .broadcard-right h4 {
        font-size: 14px;
    }

    .broadcard-right p {
        font-size: 12px;
    }


}

@media (max-width: 270px) {
    .broadcard-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-bottom: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon i{
        font-size: 30px !important;
    }

    #membership h3{
        font-size: 22px !important;
    }

    #broadcard h3{
        margin-left: 10px;
        font-size: 22px !important;
    }

    #gallery h3{
        font-size: 22px !important;
    }
    #trainer h3{
        font-size: 22px !important;
    }

    .membership-box{
        width: 100%;
        padding: 10px;
    }
}


@media (max-width: 330px) {
    #broadcard h3{
        margin-left: 0px !important;
        text-align: center;
    }
    .broadcard-box{
        width: 100%;
    }

    .broadcard-right {
        width: 100%;
        
        /* text-align: center; */
    }

    .broadcard-left {
        margin-left: 20px;
        width: 100%;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        z-index: 99999;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        background-color: #fff;
    }

    .navbar .nav-link {
        color: #000;
    }

    #broadcard h2 {
        margin-top: 100px;
    }

    #appointmentModal .modal-content {
        background-color: #fff;
        margin: 5% auto;
        padding: 20px;
        border-radius: 10px;
        width: 90% !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    #appointmentModal {
        z-index: 999999999;
    }

}