* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden !important;
    width: 100%;
}

.header-section {
    font-family: roboto;
    font-size: 60px;
    color: #fff;
    margin-top: 60px;
    text-shadow: 4px 4px 2px #dc4535;
    margin-bottom: 40px;
}

hr{
    border-bottom: 2px solid #dc4535;
    width: 180px;
}

.main_about_title{
    font-size: 101px;
    color: rgb(180, 158, 117);
    text-shadow: 4px 4px 2px orange;
    /* text-align: center; */

    margin-bottom: 20px;
}
.trainer-box {
    cursor: pointer;
}

.h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

body {
    max-width: auto;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: droid-serif; */
    font-family: 'Arvo', serif;
    /* font-family: math; */
    /* font-family: roboto; */

    width: 100%;
}





.nv-btn {
    background-color: #dc4535;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.nv-btn:hover {
    background-color: transparent;
    /* border: 1px solid #fff; */
    color: #fff;
    background-color: red;
}

.nv-btn i {
    margin-left: 5px;
}


/* Model  */


/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
#appointmentModal .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close {
    float: left;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}



/* Form Styling */
form input,
form button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

.modal-content button {
    background-color: orange;
    border: none;
}




/* Model End  */
.navbar .navbar-brand {
    color: #fff;
    font-size: 45px;
    font-family: roboto;
}

.navbar {
    /* height: 70px; */
    /* background-color: aqua; */
    /* background: linear-gradient(to right, aqua 70%, black 30%); */
    background: linear-gradient(to right, red, black);
    /* padding: 20px 0; */
    transition: background-color 0.3s ease-in-out;
}

.navbar .nav-link {
    color: #fff;

    margin-right: 30px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #dc4535;
}

.navbar .nav-link.active {
    color: #dc4535;
    font-weight: 500;
}

.nav-link::after {
    position: absolute;
    left: 0px;
    top: 22px;
    height: 1px;
    width: 100%;
    content: "";
    transform: rotate(-20deg);
    opacity: 0;
    background: rgb(243, 97, 0);
    transition: 0.3s;
}
#nav-search{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    font-family: roboto;
    text-align: end;
    color: #fff !important;
    padding: 3px 15px;
}




/* Hero Sectipon  */
.hero-left {
    height: 80vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
}

.hero-left h2 {
    text-shadow: 4px 4px 2px #dc4535;
    color: #fff;
    font-size: 120px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: roboto;
}

.hero-left h3{
    color: #fff;
}

#hero_hr {
    border: 2px solid red !important;
    width: 80%;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.2), -5px 0px 8px rgba(0, 0, 0, 0.2); /* Shadow on left and right */

}

.hero-left .hero-btn {
  
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    border: 2px solid red;
    border-radius: 30px;
    margin: 0 10px;
}
.hero-left .hero-btn:hover{
    background-color: red;
}

.banner-right {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right {
    position: relative;
}

.banner-right img {
    width: 100%;
    height: 70%;
    display: block;
    position: relative;
}

/* .banner-right::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.7) 10%,
            rgba(0, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 0.7) 90%,
            rgba(0, 0, 0, 1) 100%
            
        ),
        linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
           
            rgba(0, 0, 0, 0.7) 10%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.7) 90%,
            rgba(0, 0, 0, 1) 100%
          
        );
    z-index: 1;
    pointer-events: none;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
    
} */

.banner-right::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    /* Full dark overlay */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 90%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 90%);
    z-index: 2;
    pointer-events: none;
}
.box{
    cursor: pointer;
   text-align: center;
    padding: 40px 20px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    /* box-shadow: 0 0 13px #dc4535;  */
    background-color: transparent;
    /* box-shadow: 4px 4px 2px  #dc4535; */
}

.box img{
    color: red;
    width: 120px;
    text-align: center;
    height: 120px;
}

.box:hover{
    background-color: #dc4535;
}
.box h4, h2{
    color: #fff;
}


/* broadcard */
#broadcard {
    margin-top: 80px;
}

#broadcard i {
    color: orange;
    font-size: 40px;
}


.broadcard-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.broadcard-left {
    width: 20%;
}

.broadcard-right {
    width: 70%;
    /* background-color: red !important; */
}

.broadcard-right h4 {
    color: #fff !important;
    font-size: 20px;
    font-size: 16px;
}

.broadcard-right p {
    color: #fff !important;
    font-size: 16px;
    font-size: 14px;
}

.broadcard-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.broadcard-item .bottom {
    color: red;
}

.broadcard-item {
    width: 50%;

}

#broadcard small {

    color: #fff;
    font-size: 16px;
}

#broadcard .icon {
    width: 10%;
}

.broadcard-item .bottom {
    font-size: 12px !important;
    margin-top: 6px;
}

#brodcard .broadcard-text small {
    display: block;
    color: orange;
}



/* Membership Section */

.membership-box {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin-top: 50px;
    background-color: #211f1f !important;
    /* background-color: red !important; */
    /* background-color: transparent; */
    cursor: pointer;
    border-radius: 10px;
    height: 300px;
    /* padding: 10px; */
}

.membership-box:hover {
    /* border: 2px solid #fff; */
}

.membership-box .membership-head {
    text-align: center;
    padding: 20px 0;
    border-bottom: 0.5px solid gray;
    color: #fff;
}

.membership-text {
    margin-top: 20px;
}

.membership-text .left {
    width: 20%;

    display: flex;
    justify-content: center;
}

.membership-text .right {
    width: 80%;
}

.membership-box span {
    font-size: 14px;
    align-items: center;
    color: #fff;
}

.membership-box i {
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.membership-btn {
    margin-top: 30px;
    margin-top: 20px;
    background-color: orange;
    border: none;
    outline: none;
    padding: 4px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 40px;
}

input.flatpickr-input {
    width: 100% !important;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
}


/* About Section  */

#about {
    margin-top: 80px;
}

.about-left p {
    color: white;
    font-size: 16px;
}



.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    /* Adjust as needed */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Images */
.slides {
    display: flex;
    width: 100%;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.about-right .slider img {
    height: 400px;

}



/* Membership section  */
#membership {
    margin-top: 80px;
}

#membership h3 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}


.membership-box {}


.membership-box .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.gallery-box {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.gallery-box img {
    width: 100%;
    height: 400px;
}

/* trainer  Section */
#trainer {
    margin-top: 80px;
}



.trainer-box {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.trainer-box img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.trainer-box h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.trainer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.trainer-social span {
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}

.trainer-social span:hover {
    color: #dc4535;
    border: 2px solid #dc4535;
    /* color: #000; */
}


/* subscribe */

#subscribe {
    margin-top: 80px;
}

#subscribe h3 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

#subscribe .subscribe-box {
    background-color: orange;
    padding: 33px;
    border-radius: 10px;
}

#subscribe .subscribe-box h4 {
    color: black;
    text-align: center;
    font-size: 50px;
}

#subs {

    padding: 10px 15px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    /* padding: 10px 5px; */
    border-radius: 10px;
}

#subs input {
    border: 0 !important;
    outline: 0 !important;
    width: 70%;
}

#subs button {
    border: none;
    background-color: black;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    color: white;
    width: 30%;
    padding: 7px 20px;
}

.subscribe-box p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}



/* Testimonial Section */


#testimonial {
    margin-top: 80px;
}

.testimonial-carousel {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.testimonial-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial-item {
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: #000; */
    background-color: orange;
    /* color: #fff; */
    border: none;
    padding: 10px;
    cursor: pointer;
}

.next-btn {
    right: 0;
}


/* fooetr section  */

.footer-social {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}


.footer-social span {
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}

#footer {
    margin-top: 80px;
}


/* #footer  */
#footer .logo {
    color: #fff;
    font-size: 40px;
}

#footer p,
address {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}


#footer a {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
}


/* .whatsapp-float {
    padding: 10px 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: fixed;
    right: 10px; 
    bottom: 100px; 
    z-index: 1000; 
} */

/* .whatsapp-float img {
    width: 80px; 
    height: 80px;
    background-color: #dc4535;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-float img:hover {
    transform: scale(1.1);
} */


/* Custom Code Css  */
.flatpickr-wrapper {
    display: block;
}

/* body {
    background-color: #111;
} */

.head_span {
    font-size: 16px;
    color: #f36100;
    text-transform: uppercase;
    font-weight: 700;
}

.head {
    color: white;
    font-size: 50px;
    font-weight: 600;

    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.pricing-card {
    cursor: pointer;
    text-align: center;
    transform: skewY(-4deg);
    margin-bottom: 30px;
    position: relative;
    padding: 40px 30px 52px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    border-image: initial;
    transition: 0.5s;
    color: white;
}

.pricing-card:hover {
    color: black;
    background-color: #fff;
}

.card-1 {
    background: #888;
}

.card-2 {
    background: #666;
}

.card-3 {
    background: #000;
}

.price {
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}

.btn-enroll {
    background: orange;
    color: white;
    border: none;
}

.btn-enroll:hover {
    background: darkorange;
}